* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #DD002D;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F3FAF9;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-bottom: 0.1rem solid #c8c8c8;
}

header img {
    width: 10rem;
    cursor: pointer;
}

select {
    width: 25rem;
    padding: 0.3rem;
    border: 0.15rem solid var(--primary);
    border-radius: 0.5rem;
    height: 2rem;
}

select:focus {
    outline: none;
}

main {
    margin: 1rem;
}

button {
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    color: #fff;
    background: var(--primary);
    border: none;
    border-radius: 0.2rem;
}

button:hover {
    background: #85001b;
}


#search-screen {
    margin-top: 15rem;    
    font-size: 1.5rem;
}

#result-screen {
    display: none;
    margin-top: 2rem;
    animation: zoom 1s both;
}

#no-info {
    font-size: .7rem;
    color: var(--primary);
}

.title {
    margin-bottom: 2rem;
    color: var(--primary);
}

.card {
    padding: 4rem;
    border-radius: 1rem;
    background: #fff;
    border: 0.15rem ridge rgb(0, 0, 0);
}

#deaths {
    background: black;
    color: white;
    border: 0.15rem solid var(--primary);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.red {
    color: var(--primary);
}

.confirmed {
    font-weight: 600;
    font-size: 1.5rem;
}

.home {
    animation: move-down 2s both;
}

.country-info-visible {
    margin-top: 5rem !important;
    font-size: 1rem !important;
    animation: move-up 1s both;
}


.country-info-visible select {
    width: 20rem;
}

.country-info-visible button {
    width: 5rem;
}

#animation-bg {
    background-color: var(--primary);
    position: absolute;
    width: 100%;
    height: 100%;
    animation: bg 4s both;
}

#confirmed-cases, #confirmed-deaths {
    font-weight: 500;
    font-size: 1.3rem;
}


@keyframes zoom {
    
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
    
}

@keyframes move-up {
    
    0% {
        transform: scale(1.4) translateY(130%);
    }

    100% {
        transform: scale(1) translateY(0%);
    }
    
}

@keyframes move-down {
    
    0% {
        transform: scale(.8) translateY(-140%);
    }
    100% {
        transform: scale(1) translateY(0%);
    }
    
}

@keyframes bg {
    
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
        display: none;
    }
    
}