* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #DD002D;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F3FAF9;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-bottom: 0.1rem solid #c8c8c8;
}

header img {
    width: 10rem;
    cursor: pointer;
}

select {
    width: 20rem;
    padding: 0.3rem;
    border: 0.15rem solid var(--primary);
    border-radius: 0.5rem;
}

select:focus {
    outline: none;
}

main {
    margin: 1rem;
}

button {
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    color: #fff;
    background: var(--primary);
    border: none;
    border-radius: 0.2rem;
}

button:hover {
    background: #85001b;
}


#search-screen {
    margin-top: 15rem;
}

#result-screen {
    display: none;
    margin-top: 5rem;
}

#no-info {
    font-size: .7rem;
    color: var(--primary);
}

#country-name {
    margin-bottom: 2rem;
    color: var(--primary);
}

.card {
    padding: 4rem;
    border-radius: 1rem;
    background: #fff;
    border: 0.15rem ridge rgb(0, 0, 0);
}

#deaths {
    background: black;
    color: white;
    border: 0.15rem solid var(--primary);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.red {
    color: var(--primary);
}

.confirmed {
    font-weight: 600;
    font-size: 1.5rem;
}

#confirmed-cases, #confirmed-deaths {
    font-weight: 500;
    font-size: 1.3rem;
}